# AI Mood-Based Movie Recommender (Jupyter Notebook Project)

This notebook implements a **mood-based movie recommendation system** entirely in **Jupyter Notebook**, without Streamlit.

**Objectives:**
- Load and explore movie dataset
- Perform text preprocessing
- Apply TF-IDF + Cosine Similarity
- Recommend movies based on selected mood

##  Import Required Libraries

In [2]:
import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

##  Load Dataset

In [3]:
# Load dataset included with the project
df = pd.read_csv('db/movies.csv')
df.head()

,title,description,emotion
0,The Pursuit of Happyness,A struggling salesman fights homelessness whil...,Sad
1,Schindler's List,A businessman saves Jewish lives during the Ho...,Sad
2,Titanic,A tragic love story aboard the ill-fated Titanic.,Sad
3,Grave of the Fireflies,Two siblings struggle to survive during World ...,Sad
4,Hachi: A Dog's Tale,A dog's unbreakable loyalty to his owner.,Sad

##  Preprocess Text Data

In [4]:
df['combined_text'] = df['description'].fillna('') + ' ' + df['emotion'].fillna('')
df[['title','emotion','combined_text']].head()

,title,emotion,combined_text
0,The Pursuit of Happyness,Sad,A struggling salesman fights homelessness whil...
1,Schindler's List,Sad,A businessman saves Jewish lives during the Ho...
2,Titanic,Sad,A tragic love story aboard the ill-fated Titan...
3,Grave of the Fireflies,Sad,Two siblings struggle to survive during World ...
4,Hachi: A Dog's Tale,Sad,A dog's unbreakable loyalty to his owner. Sad

## Vectorization using TF-IDF

In [5]:
tfidf = TfidfVectorizer(stop_words='english')
tfidf_matrix = tfidf.fit_transform(df['combined_text'])

## Mood-Based Recommendation Function

In [6]:
def recommend_movies(mood, top_n=5):
    mood_vec = tfidf.transform([mood])
    similarity = cosine_similarity(mood_vec, tfidf_matrix).flatten()
    indices = similarity.argsort()[::-1][:top_n]
    return df.iloc[indices][['title','emotion','description']]

## Generate Recommendations

In [7]:
recommend_movies('Happy', top_n=5)

                           title emotion                   description
127   Main Sehra Bandh Ke Aaunga   Happy              Romantic comedy.
124                    Jigarwala   Happy           Friendship and fun.
128                  Coolie No.1   Happy                 Comedy drama.
75                         Queen   Happy  A woman rediscovers herself.
121  Hamar Sasura Bada Paisawala   Happy          Comedy with message.

## Conclusion
- The recommendation system works entirely in Jupyter Notebook
- Uses NLP-based similarity matching
- Can be extended to UI-based systems like Streamlit